@font-face{
  font-family: 'NeueMontreal';
  src: url('/static/fonts/NeueMontreal/NeueMontreal-Regular.eot');
  src: url('/static/fonts/NeueMontreal/NeueMontreal-Regular.otf') format('opentype'),
       url('/static/fonts/NeueMontreal/NeueMontreal-Regular.ttf') format('ttf'),
       url('/static/fonts/NeueMontreal/NeueMontreal-Regular.woff') format('woff'),
       url('/static/fonts/NeueMontreal/NeueMontreal-Regular.woff2') format('woff2'),
       url('/static/fonts/NeueMontreal/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}