<script id="worker" type="text/javascript-worker">
  self.addEventListener('message', async event => {
    const imageURL = event.data
    const response = await fetch(imageURL)
    const blob = await response.blob()
    self.postMessage({
      imageURL: imageURL,
      blob: blob,
    })
  })
</script>
<script src="/_includes/assets/js/main.js"></script>
<script async src="https://identity.netlify.com/v1/netlify-identity.js"></script>
 <script>
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', function () {
      netlifyIdentity.init({
        APIUrl: 'https://hungry-meitner-bd29b6.netlify.app/.netlify/identity',
      });
    });
  } else {
    netlifyIdentity.init({
      APIUrl: 'https://hungry-meitner-bd29b6.netlify.app/.netlify/identity',
    });
  }
</script>