---
layout: layouts/base.njk
section: 404
---
<main data-barba="container" data-barba-namespace="404">
  <div class="o-scroll" data-scroll-container id="js-scroll">
    <div class="not-found">
      <a href="/">Wrong way. Back home.</a>
    </div>
  </div>
</main>