---
layout: layouts/base.njk
section: about
---
<main data-barba="container" data-barba-namespace="about">
  <div class="o-scroll" data-scroll-container id="js-scroll">
    <section class="flex-center h-screen" data-scroll-section>
      <h1>About</h1>
    </section>
  </div>
</main>