---
layout: layouts/base.njk
section: home
---
<main data-barba="container" data-barba-namespace="home">
  <div class="o-scroll grid" data-scroll-container id="js-scroll">
    <section class="intro flex-center h-screen" data-scroll-section>
      <div class="lazy">
        <img data-src="http:localhost:8080/static/img/imgtest-01.jpg" alt="" data-scroll data-scroll-speed="10">
      </div>
      <h1 data-scroll data-scroll-speed="-8">Moon starter</h1>
    </section>
    <section class="desc flex-center h-screen" data-scroll-section>
      <p class="split" data-scroll data-scroll-repeat>The Moon is a gravity rounded astronomical body of planetary-mass, rocky silicate composition and without significant atmosphere, hydrosphere or magnetic field. It is orbiting the planet Earth of the inner Solar System, as Earth's only natural satellite. Its surface gravity is about a sixth of Earth's with 0.1654 g. At an average orbital distance to Earth 384,402 km (238,856 mi),[13][14] or 1.28 light-seconds (about thirty times the diameter of Earth) its gravitational influence produces the main part of any type of Earth's tides, possibly Earth's magnetic field[15] and the slight lengthening of Earth's day.</p>
    </section>
    <section class="flex-center" data-scroll-section>
      <div class="grid-photos">
        <img data-src="http:localhost:8080/static/img/imgtest-02.jpg" alt="">
        <img data-src="http:localhost:8080/static/img/imgtest-03.jpg" alt="">
        <img data-src="http:localhost:8080/static/img/imgtest-04.jpg" alt="">
        <img data-src="http:localhost:8080/static/img/imgtest-05.jpg" alt="">
      </div>
    </section>
    <section class="credits flex-center" data-scroll-section>
      <p>©Photography by Romain Laprade</p>
    </section>
  </div>
</main>